.home {
    overflow: hidden;
    position: relative; 
    // background: linear-gradient(to bottom, #fbfbfd 50%, rgba(104, 164, 48, 0.7) 90%);
    padding: 100px 40px 40px;
    z-index: 1;
    @include  media-md {
        padding-bottom: 70px;
        background: linear-gradient(70deg, #fbfbfd 50%, rgba(104, 164, 48, 0.7) 90%);
    }
    &__body {
        position: relative;
        padding-top: 20px;
        margin-bottom: 50px;
        @include  media-lg {
            margin-bottom: 70px;
        }
    }
    &__logo {
        display: none;
        max-width: 210px;
        margin: 0 auto;
        transition: 0.8s;
        @include  media-md {
            margin: 0;
            display: block;
            max-width: 350px;
            opacity: 1;
            transform: translateY(0) translateX(0) scale(1);
        }
        &.active {
            opacity: 0;
            transform: translateY(-100px) translateX(0) scale(0);
            @include  media-md {
                transform: translateY(-100px) translateX(-100px) scale(0);
            }
        }
        img {
            position: relative;
            width: 100%;
        }
    }
    &__title {
        font-size: 60px;
        text-align: center;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: -100px;
        transition: margin 1s;
        @include  media-md {
            font-size: 40px;
            text-align: left;
        }
        @include  media-lg {
            font-weight: normal;
            font-size: 60px;
        }
        &.active {
            margin-bottom: 20px;
            margin-top: -80px;
        }
    }
    &__subtitle {
        font-size: 20px;
        margin-bottom: 20px;
        max-width: 315px;
        margin-left: auto;
        margin-right: auto;
        @include  media-md {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 17px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__text {
        font-size: 16px;
        max-width: 315px;
        margin-bottom: 66px;
        margin-left: auto;
        margin-right: auto;
        @include  media-md {
            font-size: 14px;
            margin-bottom: 35px;
            margin-left: 0;
            margin-right: 0;
        }
        @include  media-lg {
            font-size: 18px;
            line-height: 1.5;
            max-width: 389px;
            margin-bottom: 51px;
        }
    }
    &__btn {
        max-width: 100%;
        @include  media-sm {
            max-width: 315px;
            margin-left: auto;
            margin-right: auto;
        }
        @include  media-md {
            max-width: 380px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        @include  media-md {
            justify-content: flex-end;
            margin-bottom: 0;
        }
        img {
            width: 100%;
            max-width: 200px;
            @include  media-md {
                max-width: 300px;
            }
            @include  media-lg {
                max-width: 350px;
            }
        }
    }
}
svg.svg-animation {
    overflow: visible;
    min-width: 210px;
    width: 100%;
    max-width: 210px;
    @include  media-md {
        max-width: 350px;
    }
}
.animated {
    opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }


  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

@-webkit-keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
  }