.home {
    overflow: hidden;
    position: relative; 
    background: url('/img/bg2.png') no-repeat;
    background: linear-gradient(70deg, #fbfbfd 20%, #69A430 80%);
    padding-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 14px;
    z-index: 1;
    &__body {
        position: relative;
        padding-top: 17px;
        margin-bottom: 128px;
        @media only screen and (max-width: 991px){
            margin-bottom: 50px;
        }
    }
    &__logo {
        opacity: 1;
        transform: translateY(0) translateX(0) scale(1);
        transition: 0.3s;
        @media only screen and (max-width: 767px){
            display: none;
        }
        &.active {
            opacity: 0;
            transform: translateY(-100px) translateX(-100px) scale(0);
        }
        img {
            position: relative;
            width: 100%;
            
        }
    }
    &__title {
        font-weight: normal;
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 44px;
        @media only screen and (max-width: 991px){
            font-size: 40px;
        }
        @media only screen and (max-width: 767px){
            padding-top: 47%;
            font-size: 60px;
            text-align: center;
            font-weight: 700;
        }
        @media only screen and (max-width: 500px){
            padding-top: 35%;
        }
        .text-accent{
            @media only screen and (max-width: 767px){
                display: block;
                font-weight: 400;
                font-size: 48px;
            }
        }
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 17px;
        @media only screen and (max-width: 767px){
            max-width: 315px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 1.5;
        max-width: 389px;
        margin-bottom: 51px;
        @media only screen and (max-width: 991px){
            font-size: 14px;
            margin-bottom: 35px;
        }
        @media only screen and (max-width: 767px){
            margin-left: auto;
            margin-right: auto;
            max-width: 315px;
            margin-bottom: 66px;
        }
    }
    &__btn {
        max-width: 315px;
        @media only screen and (max-width: 767px){
            margin-left: auto;
            margin-right: auto;
            max-width: 380px;
        }
        @media only screen and (max-width: 419px){
            max-width: 100%;
        }
        .btn {
            @media only screen and (max-width: 419px) {
                max-width: 100%;
            }
        }
    }
    &__img {
        display: flex;
        justify-content: flex-end;
        img {
            width: 100%;
            max-width: 500px;
        }
    }
    &__item {
        display: block;
        padding: 26px;
        background: #fff;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        @media only screen and (max-width: 1279px){
            height: 255px;
        }
        @media only screen and (max-width: 991px){
            height: 198px;
            padding: 26px 12px;
        }
        @media only screen and (max-width: 767px){
            height: 293px;
            margin: 0 auto 18px;
            max-width: 380px;
        }
        @media only screen and (max-width: 419px){
            // max-width: 315px;
            height: 222px;
        }
        &:hover {
            box-shadow: 0.105px 2.998px 7.5px rgba(0,0,0,0.51);
            .home__name {
                color: $accent;
            }
        }
    }
    &__name {
        font-size: 25px;
        text-align: center;
        @media only screen and (max-width: 1279px){
            font-size: 20px;
        }
        @media only screen and (max-width: 991px){
            font-size: 15px;
        }
    }
}

