.section {
    padding: 80px 0;
    @include  media-lg {
        padding: 110px 0;
    }
}
.opportunities {
    background: #f5f5f7;
    &__items {
        padding: 30px 0 0;
    }
    &__item {
        position: relative;
        font-size: 20px;
        border-radius: 10px;
        padding: 5px 20px;
        margin: 10px 0 ;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 10px;
            width: 70px;
            height: 100%;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            
        }
    }
    &__header {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: 64px;
        min-width: 64px;
        height: 64px;
        margin-right: 24px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
    }
    &__text {
        font-size: 13px;
        margin-top: 16px;
    }
}