include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		.site
			include ../common/sprite
			include ../common/header
			section.section.about#about
				.container
					h2.title О нас
					.about__bpdy 
						p Мы работаем с 2019 года и помогаем бизнесу настроить оплату на сайтах, в приложениях, соцсетях, а также разрабатываем решения для безналичных платежей в офлайне.
						p Простой и быстрый, сервис SpaceJam помогает предпринимателям сосредоточиться на развитии своего бизнеса, а не на платежной рутине.
						p SpaceJam обслуживает более 120 бизнесов в Украине и СНГ. 
						p Ваши задачы – наше исполнение
			include ../common/7contact 
	
			include ../common/footer 
			include ../common/modal
	// END body