include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		.site
			include ../common/sprite
			include ../common/header
			include ../common/1home
			include ../common/2about
			include ../common/7contact 
	
			include ../common/footer 
			include ../common/modal
	// END body