include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NMF52NB', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)

		include ../common/sprite
		include ../common/header
		include ../common/1home
		include ../common/2about
		include ../common/7contact 
 
		include ../common/footer 
		include ../common/modal
	// END body