.vacancies {
    &__body {
        p {
            position: relative;
            margin: 0;
            padding: 20px 10px;
            text-align: center;
            font-size: 16px;
            & + p {
                &:before {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    background: $accent;
                    top: 0;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, 0)
                }
            }
        }
    }
}