// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #69A430;
$text: #1d1919;
$primary: #A09E98;

@mixin media-sm {
    @media (min-width: #{420px}) { //420
        @content;
    }
}
@mixin media-500 {
    @media (min-width: #{500px}) { 
        @content;
    }
}
@mixin media-550 {
    @media (min-width: #{550px}) { 
        @content;
    }
}
@mixin media-600 {
    @media (min-width: #{600px}) { 
        @content;
    }
}
@mixin media-md {
    @media (min-width: #{768px}) {
        @content;
    }
}
@mixin media-800 {
    @media (min-width: #{800px}) { 
        @content;
    }
}
@mixin media-lg {
    @media (min-width: #{992px}) {
        @content;
    }
}
@mixin media-xl {
    @media (min-width: #{1280px}) {
        @content;
    }
}
@mixin media-xxl {
    @media (min-width: #{1400px}) {
        @content;
    }
}
:root {
    --bs-gutter-x: 8px;
    @include media-lg {
        --bs-gutter-x: 20px;
    }
}