section.home#first
    .container
        .row
            .col-xl-5.col-lg-5.col-md-5.col-sm-12
                .home__body 
                    .home__logo
                        img(src="img/logo.svg", alt="")
                    h1.home__title.animated-parent
                        span.home__title-text.letters Space
                        span.text-accent Jam
                    .home__subtitle Прием и отправка платежей при помощи гривневых карт и криптовалют
                    .home__text Удобный процессинг платежей
                    .home__btn
                        a(href="#modalCons").btn.modal-open Личный кабинет
        
            .col-xl-7.col-lg-7.col-md-7.col-sm-12
                .home__img 
                    img(src="img/bg3.png", alt="payments online")
        .row
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
                a(href="#about").scroll-to.home__item
                    .home__name О нас
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
                a(href="#vacancies").scroll-to.home__item
                    .home__name Вакансии
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
                a(href="#smi").scroll-to.home__item
                    .home__name Материалы для СМИ


