section.home#first
    .container
        .row
            .col-xl-5.col-lg-5.col-md-5.col-sm-12
                .home__body 
                    .home__logo
                        img(src="img/logo.svg", alt="")
                    h1.home__title.animated-parent
                        span.home__title-text.letters Space
                        span.text-accent Jam
                    .home__subtitle Подключите мультивалютную оплату 
                    .home__text Удобный процессинг платежей
                    .home__btn
                        a(href="#modalCons").btn.modal-open Личный кабинет
        .row
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
                a(href="#teh").scroll-to.home__item.home__item--teh
                    .home__name 1
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
                a(href="#repair").scroll-to.home__item.home__item--repair
                    .home__name 2 
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
                a(href="#upgrade").scroll-to.home__item.home__item--upgrade
                    .home__name 3
        .row
            .col-12
                a(href="#details").scroll-to.home__shop
                    .home__name 
                    .home__shop-text Прием и отправка платежей при помощи гривневых карт и криптовалют



