section.section.opportunities#opportunities(data-anchor="#opportunities") 
    .container 
        h2.title Наши возможности
        .opportunities__items 
            .row
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Платежи в один клик
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Оплата по ссылке
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Маршрутизация платежей
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Массовые выплаты
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Рекурентные платежи
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Расщепление платежа
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Оплата на сайте
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Оплата в мобильных приложениях
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Платежные ссылки
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item QR платежа
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Внутренние переводы
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Ежедневная аналитика
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Удобный чекаут
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Уведомление о платежах
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Защита от мошенников