section.opportunities#opportunities(data-anchor="#opportunities") 
    .container 
        h2.title Возможности
        .opportunities__items 
            .row
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Платежи в один клик
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item Оплата по ссылке