section.section.opportunities#opportunities(data-anchor="#opportunities") 
    .container 
        h2.title Наши возможности
        .opportunities__items 
            .row
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Оплата в один клик
                        .opportunities__text Клиенты при повторной оплате на вашем сайте или в приложении смогут оплачивать без длительного ввода платежных данных.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Принимайте платежи без интеграции и технических настроек
                        .opportunities__text Создайте отдельный счет и отправьте его клиенту как ссылку любым удобным способом — на почту, через sms или в мессенджере. Клиенту достаточно перейти по ссылке и завершить оплату.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Платежи для вашего приложения
                        .opportunities__text С нашим  Вы сможете без труда интегрировать прием онлайн-оплат прямо в  интерфейс вашего мобильного приложения на iOS или  Android. Принимайте разовые или регулярные оплаты от ваших клиентов.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Регулярные платежи
                        .opportunities__text Возможность настройки регулярных списаний на стороне магазина или клиента.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Холдирование
                        .opportunities__text Блокировка средств на карте клиента до определенного момента (например, для подтверждение наличия товара).
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Возвраты
                        .opportunities__text Полные или частичные возвраты средств клиенту.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Платежный виджет
                        .opportunities__text Всплывающее окно, которое отобразится поверх вашего сайта, без дополнительных переходов на страницу платежного шлюза.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Инвойсы
                        .opportunities__text Электронный счет, который может быть направлен клиенту для оплаты по смс, на email, в мессенджер или любым удобным способом.
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Продажи за рубеж
                        .opportunities__text Прием платежей на вашем сайте с любой точки мира
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Массовые платежи (выплаты)
                        .opportunities__text Совершайте выплаты средств на необходимые вам реквизиты
                .col-xl-4.col-lg-4.col-md-6.col-sm-12
                    .opportunities__item 
                        .opportunities__header
                            .opportunities__icon
                            .opportunities__name Антифрод
                        .opportunities__text Защита от мошеннических операций с картами онлайн