section.section.partners
    .container 
        h2.title Партнеры
        .marquee
            .partners__items
                .partners__item
                    img(src="img/partners/betterme.svg", alt="betterme")
                .partners__item
                    img(src="img/partners/jijing.svg", alt="jijing")
                .partners__item
                    img(src="img/partners/joom.svg", alt="joom")
                .partners__item 
                    img(src="img/partners/headway.png", alt="headway")
                .partners__item 
                    img(src="img/partners/genesis.png", alt="genesis")
                .partners__item 
                    img(src="img/partners/joompay.png", alt="joompay")