section.section.solution#solution(data-anchor="#solution") 
    .container 
        h2.title Решение для традиционного бизнеса и бизнеса в ИТ
        .solution__items 
section.section.connection
    .container 
        h2.title Легкое подключение
        .connection__items 

section.section.partners
    .container 
        h2.title Партнеры
        .partners__items 