section.contact#contact(data-anchor="#contact") 
    .container
        h2.title Контакти
    #map
    .container.contact__container
        .row
            .contact__body.animated
                aside.contact__info
                    //- .contact__text.contact__adress 
                    //-     | м. Київ, вул. Протасів Яр, 27
                    //-     br
                    //-     a(href="#modalMap").modal-open.contact__link Детальний маршрут проїзду 
                    //- .contact__text Графік роботи (Вт-Нд) 
                    //- .contact__text з 10:00 до 19:00
                    .contact__btn
                        a(href="#modalCons").modal-open.btn Консультация
                    .contact__items
                        a(href="tel:+380") +38 (000) 00 - 00 - 000
                        a(href="mailto:mail@gmail.com").contact__mail mail@gmail.com
                   
                    .contact__social
                        div Ми в социальных сетях
                        .social__items
                            a(href="https://www.facebook.com/" target="_blank").social__item
                                svg.icon
                                    use(xlink:href="#fb")
                            a(href="https://www.instagram.com/" target="_blank").social__item
                                svg.icon
                                    use(xlink:href="#instagram")
                        div © 
                            span.copy-year 2020 
                            |  Все права защищены

