section.contact#contact(data-anchor="#contact") 
    .container.contact__container
        .row
            .col-xl-4.col-lg-4.col-md-6.col-sm-12
                .contact__body.animated
                    aside.contact__info
                        h2.title Контакты
                        .contact__group
                            .contact__text Телефон
                            a(href="tel:+380443223322") +380 44 322 33 22
                        .contact__group
                            .contact__text Email
                            a(href="mailto:info@spacejam.online").contact__mail info@spacejam.online
                            .contact__text ул. Чигорина 18, Киев
                        .contact__group
                            .contact__text Нужна помощь? 
                            .contact__text Наша команда поддержки готова помочь вам 24/7.
                        .contact__group
                            .contact__text Служба поддержки
                            .contact__text E-mail: 
                                a(href="mailto: support@spacejam.online").contact__mail  support@spacejam.online
                        .contact__group
                            .contact__text Технические вопросы
                            .contact__text E-mail: 
                                a(href="mailto: technical@spacejam.online").contact__mail  technical@spacejam.online
                        .contact__group
                            .contact__text PR-отдел
                            .contact__text E-mail: 
                                a(href="mailto: pr@spacejam.online").contact__mail  pr@spacejam.online


                        .contact__btn
                            a(href="#modalCons").modal-open.btn Консультация
                    
                        .contact__social
                            //- div Ми в социальных сетях
                            //- .social__items
                            //-     a(href="#" target="_blank").social__item
                            //-         svg.icon
                            //-             use(xlink:href="#tg")
                            //-     a(href="#" target="_blank").social__item
                            //-         svg.icon
                            //-             use(xlink:href="#skype")
                            div © 
                                span.copy-year 2020 
                                |  Все права защищены