footer.footer
    //- .sticky.on
    //-     .wrap
    //-         .sticky__text Переглянути загальний прайс послуг
    //-         .sticky__btn 
    //-             a(href="files/Загальний_прайс.pdf" target="_blank").btn.btn--white.btn--black-hover Загальний прайс
    //-     .close x
    .container
        a(href="#modalCallback").callback.modal-open
            .callback__body
                svg.icon
                    use(xlink:href="#callback")
script(src="js/scripts.min.js")
script(src="js/custom.js")
