header.header
	.container
		a(href="#first").scroll-to.logo
			img(src="img/logo.svg", alt="logo")
		.menu-wrap
			.menu-toggle 
				.one
				.two
				.three
			nav.main-menu 
				ul
					li
						a(href="#first").parent-menu SpaceJam
						ul.submenu
							li.submenu__item
								a(href="#") О нас
							li.submenu__item
								a(href="#" ) Вакансии
							li.submenu__item
								a(href="#" ) Материалы для СМИ
					li
						a(href="#opportunities" data-menuanchor="#opportunities").scroll-to Возможности
					li
						a(href="#" data-menuanchor="#connection").parent-menu Подключение
						ul.submenu
							li.submenu__item
								a(href="#") Условия
							li.submenu__item
								a(href="#") Регистрация
							li.submenu__item
								a(href="#") Вариант интеграции: API/CMS/SDK/платёжный модуль
							li.submenu__item
								a(href="#") Дополнительные настройки

					li
						a(href="#contact" data-menuanchor="#contact").scroll-to Контакты
					li
						.lang--mob
							a(href="index-ru.html").lang__item RU
							span |
							a(href="#").lang__item.current UA
							span |
							a(href="index-en.html").lang__item EN
		.header__group
			.header__lk
				a(href="#").btn 
					svg.icon.icon-lk
						use(xlink:href="#lk")
					span Личный кабинет
			.header__lang
				.lang.current RU
				.lang__list
					a(href="index-ua.html").lang__item UA
					a(href="index-en.html").lang__item EN
