#modalFinish.modal.disabled
    .modal__wrap.animated   
        .close.modal-close x
        .modal__body
            .modal__title Спасибо!
            .modal__subtitle Скоро наш менеджер свяжется с вами.
#modalCons.modal.disabled
    .modal__wrap.animated  
        .close.modal-close x
        .modal__body
            .modal__header Получить бесплатную консультацию
            .modal__group
                .modal__img
                .modal__form
                    .modal__about У вас есть вопросы? Заполните форму и наш менеджер свяжеться з Вами в ближайшее время.  
                    form
                        // Hidden Required Fields
                        input(type='hidden', name='project_name', value='SpaceJam')
                        input(type='hidden', name='admin_email', value='mail@gmail.com')
                        input(type='hidden', name='form_subject', value='Бесплатная консультация')
                        // END Hidden Required Fields
                        input(type='hidden', name='info', value='Бесплатная консультация')
                        input.utm_source.hidden(type='hidden', name='utm_source')
                        input.utm_medium.hidden(type='hidden', name='utm_medium')
                        input.utm_campaign.hidden(type='hidden', name='utm_campaign')
                        input.utm_term.hidden(type='hidden', name='utm_term')
                        input.utm_content.hidden(type='hidden', name='utm_content')
                        .form
                            .form-line
                                label
                                    input(type="text" placeholder="Имя" name="name").rfield.name-icon
                            .form-line
                                label
                                    input(type="text" placeholder="Телефон" name="phone").rfield.phone-mask
                            .form-line
                                label
                                    input(type="email" placeholder="Email" name="email").rfield
                            .form-line
                                label
                                    textarea(name="coment", cols="30", rows="2",placeholder="Комментарий").rfield
                            .form-line-btn
                                .btn-finish(data-modal="#modalFinish")
                                    input(type="submit" value="Получить консультацию").form__btn.btn.btn--black-hover 
#modalCallback.modal.disabled
    .modal__wrap.animated  
        .close.modal-close x
        .modal__body
            .modal__header Форма обратной связи
            .modal__group
                .modal__img
                .modal__form
                    .modal__about Заполните форму и наш менеджер свяжеться з Вами в ближайшее время.   
                    form
                        // Hidden Required Fields
                        input(type='hidden', name='project_name', value='SpaceJam')
                        input(type='hidden', name='admin_email', value='mail@gmail.com')
                        input(type='hidden', name='form_subject', value='Форма обратной связи')
                        // END Hidden Required Fields
                        input(type='hidden', name='info', value='Callback')
                        input.utm_source.hidden(type='hidden', name='utm_source')
                        input.utm_medium.hidden(type='hidden', name='utm_medium')
                        input.utm_campaign.hidden(type='hidden', name='utm_campaign')
                        input.utm_term.hidden(type='hidden', name='utm_term')
                        input.utm_content.hidden(type='hidden', name='utm_content')
                        .form
                            .form-line
                                label
                                    input(type="text" placeholder="Имя" name="name").rfield.name-icon
                            .form-line
                                label
                                    input(type="text" placeholder="Телефон" name="phone").rfield.phone-mask
                            .form-line-btn
                                .btn-finish(data-modal="#modalFinish")
                                    input(type="submit" value="Отправить").form__btn.btn.btn--black-hover 


